{% extends "base.html" %}

{% block head %}
    <link type="text/css" href="/static/css/style.css" rel="stylesheet"/>
    <link type="text/css" href="/static/css/accounts.css" rel="stylesheet"/>
    {% include "uni_form/includes.html" %}
{% endblock %}

{% block content %}

    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}        
    
    <div id="account_outline">
        {% block account_content %}
        {% endblock %}
    </div>

{% endblock %}