<!DOCTYPE html>
<html>
    <head>
        <title>Stark - accounts</title>
        <link type="text/css" href="/static/css/style.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/accounts.css" rel="stylesheet"/>
        <script type="text/javascript" src="/static/js/jquery/jquery-1.3.2.min.js"></script>
        {% include "uni_form/includes.html" %}
    </head>
    <body>
    
    <div id="outline">
        <p class='spaced'><a href="{% url index %}">Back to the game</a></p>
        {% block contents %}
        {% endblock %}
    </div>

    </body>
</html>