{% extends "accounts/base.html" %}

{% block contents %}

    <form action="" method="post" class="account_form">
        <div class='form_field'>
            <label for="id_username">Account name:</label><br />
            <input type='text' name='username' id='id_username' />
        </div>
        <div class='form_field'>
            <label for="id_password">Password:</label><br />
            <input type='password' name='password' id='id_password' />
        </div>
        <input type='submit' class='form_button' value='Login' />
    </form>

{% endblock %}