#outline {
    padding: 5px;
    width: 800px;
}

.account_form { margin: 10px 0 0 20px; }

.form_button {
    display: block;
    margin: 10px;
}

.form_field {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    width: 300px;
}
.form_field label { font-weight: bold; }
.field_explanation {
    color: #666666;
    font-style: italic;
    font-size: 90%;
}

.errorlist {
    list-style: none;
    color: red;
    margin-left: 10px;
}

#character_table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
#character_table td, th {
    padding: 5px;
}

.uniForm {
    width: 300px;
}