#account_outline {
    background: 1px #fafaff;
    border: 1px solid #555;
    margin: 20px 0 0 150px;
    padding: 10px;
    width: 400px;
}

#character_table {
    border-collapse: collapse;
    border: 1px solid #888;
}
#character_table td, th {
    border: 1px solid #ccc;
    padding: 5px;
}

#messages {
    display: block;
    list-style: none;
    margin: 20px 0 0 150px;
}