* { margin: 0; padding: 0; }

html {
    color: #3f3f3f;
    font-family: Verdana, "Lucida Grande", Helvetica, Arial,Calibri,'times new roman';
    font-size:12px;
}

body {
    background: #eee;
    padding: 5px;
}

a { color: #2970A6; }

p.spaced { margin-bottom: 10px; }

.link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.clear {
    clear: both;
}

/* -- OVERALL STRUCTURE --  */
#header {
    margin-bottom: 5px;
    width: 702px;
}
    #banner {
        float: left;
        margin-right: 5px;
    }
    #banner img { display: block; margin: 0px;}

    #save_character_box {
        background: #eaf1ed;
        border: 1px solid #387351;
    }
    
    .menu_box {
        background: #ebeaf1;
        border: 1px solid #000;
        display: block;
        font-weight: bold;        
        height: 25px;
        padding: 10px 10px 0 10px;
        text-decoration: none;
    }
    .menu_box:hover {
        text-decoration: underline;
    }
    
    .account_box {
        float: left;
    }
    .links_box {
        float: right;
    }

#right_pane {
    float: left;
    height: 500px;    
    margin-left: 10px;
    width: 302px;    
}

#left_pane {
    float: left;
    margin-left: 0px;
    width: 390px;
}

/* -- END OVERALL STRUCTURE -- */

/* -- BOXES -- */

#communications {
    background: #fafaff;
    border: 1px solid #000000;
    color: #000000;
    height: 208px;
    margin: 0 0 5px 0;
    overflow: auto;
    padding: 4px;
}

.comm_notification {
    color: #666666;
}

#map {
    /*border: 1px solid #000000;*/
}

#input_bar {
    margin-bottom: 10px;
}

#command_text {
    width: 250px;
}

#room_box {
    background: #fafaff;
    border: 1px solid #000000;
    height: 294px;
    margin-bottom: 10px;
    padding: 3px;
    overflow: auto;
}
    #room_box div {
        margin-bottom: 5px;
    }
    
#builder_box {
    background: #fafaff;
    border: 1px solid #000;    
    padding: 5px;
}
    
/* -- BOXES END -- */

.stark_button {
    display: block;
    background: #d1d1d1;
    border: 1px solid #3f3f3f;
    float: left;
    font-weight: bold;
    margin: 5px; 
    padding: 5px;
}
.stark_button:hover { cursor: pointer; }

.inspectable { color: #2970A6; }
.inspectable:hover { text-decoration: underline; }