    <div style="margin-left: 230px;">
        <table border='0'>
            <tr>
                <td></td>
                <td><input id="move_north" type='submit' value='North' /></td>
                <td></td>
            </tr>
            <tr>
                <td><input id="move_west" type='submit' value='West' /></td>
                <td></td>
                <td><input id="move_east" type='submit' value='East' /></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="move_south" type='submit' value='South' /></td>
                <td></td>
            </tr>
        </table>
    </div>