{% extends "accounts/base.html" %}

{% block account_content %}

<h1 class='spaced'>Game Help</h1>

<h2 class='spaced'>Movement </h2>

<p class='spaced'>
    Move in the direction you want to go by using the arrows on
    your keyboard, the directional buttons or by typing the direction in the
    command bar.
</p>

<p class='spaced'>
    Moving in a direction costs movement points, which are regenerated in time
</p>

<h2 class='spaced'>Interact with the world</h2>

<p class='spaced'>
    You can interact with items by clicking on them or by using the command
    bar. For example, to pick a dagger on the ground in a room you can click
    on it and select 'Get' or type 'get dagger' in the command bar.
</p>

<p class='spaced'>
    Use 'help' on the command bar for a list of available commands
</p>

<h2 class='spaced'>Gaining experience</h2>

<p class='spaced'>
    You gain experience by killing things. Killing is unrestricted in this
    game so you can kill anything or anyone. Be careful though as things and
    people will fight back!
</p>

<p class='spaced'>
    To kill someone, use the 'kill' command in the command bar, for example
    'kill guard' to kill a tired guard.
</p>


{% endblock %}