{% extends "base.html" %}

{% block head %}
<link type="text/css" href="/static/css/player.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/room.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/jquery//ui.all.css" rel="stylesheet" />

<!-- jquery libs -->
<script type="text/javascript" src="/static/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.draggable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.resizable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.dialog.js"></script>

<!-- processing.js -->
<script language="javascript" src="/static/js/lib/processing.js"></script>

<!-- stark libs -->
<script type="text/javascript" src="/static/js/builder.js"></script>
<script type="text/javascript" src="/static/js/commands.js"></script>
<script type="text/javascript" src="/static/js/communications.js"></script>
<script type="text/javascript" src="/static/js/data.js"></script>
<script type="text/javascript" src="/static/js/inspect.js"></script>
<script type="text/javascript" src="/static/js/items.js"></script>
<script type="text/javascript" src="/static/js/player.js"></script>
<script type="text/javascript" src="/static/js/room.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
{% endblock %}

{% block content %}

<!--[if IE]>
<div id='iewarning'>
    You're using IE, which does not support HTML5 and therefore this game will
    not work with it.<br />
    Please use either: <br />
    - <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a><br />
    - <a href="http://www.google.com/chrome">Chrome</a><br />
    - <a href="http://www.apple.com/safari/download/">Safari</a><br />
    - <a href="http://www.opera.com/">Opera</a><br />
</div>
<![endif]-->

<div id="left_pane">
    <!-- player -->
    {% include "game/player.html" %}    
    
    <!-- communications -->
    <div id="communications"></div>
    
    <!-- command bar -->
    {% include "game/command_bar.html" %}
    
    <!-- command pad -->
    {% include "game/command_pad.html" %}
    
    <!-- builder -->
    {% include "game/builder.html" %}
</div>

<div id="right_pane">
    <!-- room -->
    {% include "game/room.html" %}    
    
    <!-- map -->
    <canvas id="map" width="300px" height="300px"></canvas>    
</div>

<div class='clear'></div>

<div id="dialog" title="Dialog Title"></div>


<script type='text/javascript'>
$(document).ready(function(){

    $("#dialog").dialog({ autoOpen: false });
    
    // initial data
    document.map = [];
    document.player = null;
    
    setup_commands();
    setup_builder();
    setup_player();

    // get_map();

    var initial = true;

    pulse = function() {
        render_communications();
        
        $.ajax({
            type: "GET",
            url: "/api/me.json",
            data: { map: true },
            dataType: "json",
            success: function(player) {
                // load builder on initial load
                if (initial) {
                    document.player_map_xpos = player.room.xpos;
                    document.player_map_ypos = player.room.ypos;
                }
                
                /* If a player has initiated a move, a returning pulse
                shouldn't overwrite what their new position will be. Therefore,
                if within 2 seconds of a move, don't pulse. */
                var now = new Date().getTime();
                if (!document.last_move || now - document.last_move < 2000) {
                
                document.player = player
                document.map = player.map;
                
                // render the pages
                render_room();
                render_profile();
                }
                
                // load builder on initial load
                if (initial & player.builder_mode) { render_builder(); }
                
                // only execute initial once
                if (initial) { initial = false; }
                
            }
        });           
    }
    pulse();
    //setInterval("pulse();", 2000);

    // processing
    
    var script = $.ajax({url: "/static/js/rendermap.pjs", async: false}).responseText;
    var canvas = $('canvas#map').get(0);
    Processing(canvas, script);
    
});

</script>

{% endblock %}