{% extends "base.html" %}

{% block head %}
<link type="text/css" href="/static/css/player.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/room.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/jquery/ui.all.css" rel="stylesheet" />

<script type="text/javascript">
/* save the user preferences */
var map_width = {{ user.preferences.map_width }};
var map_height = {{ user.preferences.map_height }};
var map_room_size = {{ user.preferences.map_room_size }};
var map_margin = {{ user.preferences.map_margin }};
var map_room_spacing = {{ user.preferences.map_room_spacing }};
</script>

<!-- jquery libs -->
<script type="text/javascript" src="/static/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.draggable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.resizable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.dialog.js"></script>

<script type="text/javascript" src="/static/js/lib/json2.js"></script>

<!-- processing.js -->
<script language="javascript" src="/static/js/lib/processing/processing-0.4-packed.js"></script>

<!-- stark libs -->
<script type="text/javascript" src="/static/js/stark/core.js"></script>
<script type="text/javascript" src="/static/js/stark/bindings.js"></script>
<script type="text/javascript" src="/static/js/stark/renderers.js"></script>

<script type="text/javascript" src="/static/js/commands.js"></script>
<script type="text/javascript" src="/static/js/inspect.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>

{% endblock %}

{% block content %}

<!--[if IE]>
<div id='iewarning'>
    You're using IE, which does not support HTML5 and therefore this game will
    not work with it.<br />
    Please use either: <br />
    - <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a><br />
    - <a href="http://www.google.com/chrome">Chrome</a><br />
    - <a href="http://www.apple.com/safari/download/">Safari</a><br />
    - <a href="http://www.opera.com/">Opera</a><br />
</div>
<![endif]-->

<div id="left_pane">
    <!-- player -->
    {% include "game/player.html" %}    
    
    <!-- communications -->
    <div id="communications"></div>
    
    <!-- command bar -->
    {% include "game/command_bar.html" %}
    
    <!-- command pad -->
    {% include "game/command_pad.html" %}
    
    <!-- builder -->
    {% include "game/builder.html" %}
</div>

<div id="right_pane">
    
    <!-- room -->
    {% include "game/room.html" %}
    
    <!-- map -->
    <canvas datasrc="/static/js/stark/map.pjs" id="map" width="300px" height="300px"></canvas>

</div>

<div class='clear'></div>

<div id="dialog" title="Dialog Title"></div>

<script type='text/javascript'>

var stark;

$(document).ready(function(){
    /* -- Set up the canvas based on user preferences --*/
    $("#map").attr('width', canvas_width);
    $("#map").attr('height', canvas_height);

    $("#dialog").dialog({ autoOpen: false });

    // for when those variables exist within preferences
    // $('#map').attr('width', size * width + spacing * (width - 1) + margin * 2 + 10);
    
    setup_commands();
    setup_builder();
    setup_player();

    //setInterval(beat, 250)
    setTimeout(function(){
        beat();
        setTimeout(arguments.callee, 250);
    }, 250);

});

</script>

{% endblock %}