{% extends "base.html" %}

{% block head %}
<link type="text/css" href="/static/css/player.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/room.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/jquery//ui.all.css" rel="stylesheet" />

<!-- jquery libs -->
<script type="text/javascript" src="/static/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.draggable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.resizable.js"></script>
<script type="text/javascript" src="/static/js/jquery/ui.dialog.js"></script>

<!-- processing.js -->
<script language="javascript" src="/static/js/lib/processing.js"></script>

<!-- stark libs -->
<script type="text/javascript" src="/static/js/builder.js"></script>
<script type="text/javascript" src="/static/js/commands.js"></script>
<script type="text/javascript" src="/static/js/communications.js"></script>
<script type="text/javascript" src="/static/js/data.js"></script>
<script type="text/javascript" src="/static/js/inspect.js"></script>
<script type="text/javascript" src="/static/js/items.js"></script>
<script type="text/javascript" src="/static/js/player.js"></script>
<script type="text/javascript" src="/static/js/room.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
{% endblock %}

{% block content %}

<!--[if IE]>
<h1>You're using IE, which does not support HTML5 and therefore this game will
not work it it. Please use either Firefox, Chrome, Safari or Opera.</h1>
<![endif]-->

<!-- href="javascript:void(0);" -->

<div id="left_pane">
    <!-- player -->
    {% include "game/player.html" %}    
    
    <!-- communications -->
    <div id="communications"></div>
    
    <!-- command bar -->
    {% include "game/command_bar.html" %}
    
    <!-- command pad -->
    {% include "game/command_pad.html" %}
    
    <!-- builder -->
    {% include "game/builder.html" %}
</div>

<div id="right_pane">
    <!-- room -->
    {% include "game/room.html" %}    
    
    <!-- map -->
    <canvas id="map" width="300px" height="300px"></canvas>    
</div>

<div class='clear'></div>

<div id="dialog" title="Dialog Title"></div>


<script type='text/javascript'>
$(document).ready(function(){

    $("#dialog").dialog({ autoOpen: false });
    
    // initial data
    document.map = [];
    document.player = null;
    
    setup_commands();
    setup_builder();
    setup_player();

    get_map();

    var initial = true;

    pulse = function() {
        render_communications();
        
        $.ajax({
            type: "GET",
            url: "/api/me.json",
            data: { map: true },
            dataType: "json",
            success: function(player) {
                document.player = player;
                document.map = player.map;
                
                // render the pages
                render_room();
                render_profile();
                
                // functions to only execute once on initial load
                if (initial) {
                    if (document.player.builder_mode) {
                        render_builder(); }
                    initial = false;
                }
            }
        });           
    }
    pulse();
    setInterval("pulse();", 2000);

    // processing
    
    var script = $.ajax({url: "/static/js/rendermap.pjs", async: false}).responseText;
    var canvas = $('canvas#map').get(0);
    Processing(canvas, script);
    
});

</script>

{% endblock %}