    <div id="profile_box">
        <div id="top_row">
            <div id="level_box">
                <div id="level_digit"><span id="player_level"></span></div>
                <div id="level_progress">exp: <span id="player_experience"></span></div>
            </div>

            <div id="name_box"><strong id="player_name"></strong></div>

            <div id="mp_box" class='point_box'>
                <div class='point_digit'><span id="current_mp">40</span></div>
                <div class='point_perc'>mp: <span id="perc_mp">100</span>%</div>
            </div>

            <div id="hp_box" class='point_box'>
                <div class='point_digit'><span id="current_hp">40</span></div>
                <div class='point_perc'>hp: <span id="perc_hp">100</span>%</div>
            </div>

            <div style='clear: both'></div>
        </div>
        
        <div id="player_details_button">v</div>
        
        <div id="player_details" style='display: none;'>
            <div id="player_equipment">
                You are using:<br />
                <table border='0'>
                    <tr>
                        <td nowrap="nowrap" valign='top'>wielded</td>
                        <td><span id="player_main_hand"></span></td>
                    </tr><tr>
                        <td nowrap="nowrap" valign='top'>worn on head</td>
                        <td><span id="player_head"></span></td>
                    </tr><tr>
                        <td nowrap="nowrap" valign='top'>worn on chest</td>
                        <td><span id="player_chest"></span></td>
                    </tr><tr>
                        <td nowrap="nowrap" valign='top'>worn on hangs</td>
                        <td valign='top'><span id="player_hands"></span></td>
                    </tr><tr>
                        <td nowrap="nowrap" valign='top'>worn on legs</td>
                        <td><span id="player_legs"></span></td>
                    </tr><tr>
                        <td nowrap="nowrap" valign='top'>worn on feet</td>
                        <td><span id="player_feet"></span></td>
                    </tr>
                    {% comment %}
                Wielded: <span id="player_main_hand"></span><br />
                Worn on head: <span id="player_head"></span><br />
                Worn on chest: <span id="player_chest"></span><br />
                Worn on hands: <span id="player_hands"></span><br />
                Worn on legs: <span id="player_legs"></span><br />
                Worn on feet: <span id="player_feet"></span><br />
                    {% endcomment %}
                </table>
            </div>            
            <br />
            You are carrying:
            <div id="player_inventory"></div>
        </div>
    </div>