<!DOCTYPE html>
<html>
<head>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" >
</script>
</head>
<body>

<p>url: <input type='text' id="url"/></p>

<p>type:
    <select id="request_type">
        <option value="GET">GET</option>
        <option value="PUT">PUT</option>
        <option value="POST">POST</option>
        <option value="DELETE">DELETE</option>
    </select>
</p>

</p>Add data to the request:</p>

<div class='data'>
  <input type='text' class='name' />
  <input type='text' class='value' />
</div>

<p><input type='submit' id="unrest_button"/></p>

<div id="response"
     style="border-top: 1px solid #000000; display: none; width: 600px;">

    <p>Status: <span id="status" /></p>

    <p>The request came back in <span id="speed" style="font-weight: bold;" />
    ms, and returned:</p>
    
    <pre id="response_msg">
    </pre>
    
</div>

<script type="text/javascript">

// http://www.thirstymind.org/2009/10/17/implementing-pythons-string-format-in-javascript/
function str_format(){
 
    var formatted_str = arguments[0] || '';
 
    for(var i=1; i<arguments.length; i++){
        var re = new RegExp("\\{"+(i-1)+"}", "gim");
        formatted_str = formatted_str.replace(re, arguments[i]);
    }
    
    return formatted_str;
}

var SPACES_PER_INDENT = 2;
var indent = function(depth) {
    var x = "";
    for (var i = 0 ; i < depth * SPACES_PER_INDENT; i++ ) {
	x += " ";
    }
    return x
}

var parse_node = function(node, depth) {
    var xml_string = indent(depth);
    
    // nodes that have either sub nodes or node values
    if (node.hasChildNodes()) {
	
	// opening tag
	xml_string += str_format("&lt;{0}&gt;", node.nodeName);
	
	// text node 
	if (node.firstChild.nodeType == 3) {
	    xml_string += node.firstChild.nodeValue;
	}

	// node with children
	else {
	    depth++;
	    xml_string += '\n';
	    for (var i = 0 ; i < node.childNodes.length ; i++) {
		xml_string += parse_node(node.childNodes[i], depth);
	    }
	    depth--;
	    xml_string += indent(depth);
	}

	// closing tag
	xml_string += str_format("&lt;/{0}&gt;\n", node.nodeName);
    }
    
    // empty nodes
    else {
	xml_string += str_format("&lt;{0}/&gt;\n", node.nodeName);
    }

    return xml_string
}

$(document).ready(function(){
    
    // allows for new data rows to be created as they are being selected
    bind_data = function() {
	$('.data:last > input').focus(function() {
	    var clone = $('.data:last').clone();
	    clone.appendTo($('.data:last'));
	    $('.data > input').unbind();
	    bind_data();
	});
    }
    bind_data();
    
    // url submission
    $("#unrest_button").click(function() {
        // get the request url / type
        var url = $("#url").val();
        var type = $("#request_type").val();
	
	// ---- data ----
	var data = {};
        $('.data').each(function () {
	    var name = $(this).children('.name').val();
	    var value = $(this).children('.value').val();
	    data[name] = value;
        });
        
	// needed for timer
  	var start = new Date();
  	start = Number(start.getTime());
        
	// ouput function. It is in this scope because it needs to know the
	// exact start time every time
	var output_response = function(msg, status) {
	    $("#response").show();

	    var end = new Date();
	    end = Number(end.getTime());
	    $("#speed").html((end - start) + " ms");

	    $("#status").html(status);

	    $("#response_msg").html(msg);
	}
	
	// the actual REST call
        $.ajax({
                url: url,
                type: type,
                data: data,
		success: function(msg, status) {
		    var pretty = '';
		    if (msg.contentType == 'text/xml') {
			pretty = parse_node(msg.childNodes[0], 0);
			msg = pretty;
		    }
		    
		    output_response(msg, status);
		},
		error: function(msg, status) { output_response(msg.responseText, 'error (' + msg.status + ')'); }
	});
    });
    
});
</script>
    
</body>
</html>
