<html>
<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
<script type="text/javascript" src="/static/js/data.js"></script>

<script language="javascript" src="/static/js/lib/processing.js"></script>
<!--script language="javascript" src="/static/js/lib/init.js"></script-->

</head>
<body>
    
    <h1>Stark</h1>

<div style="float: left;">
    <canvas id="map" width="300" height="300" style="border: 1px solid #000000;"></canvas>
    <br /><br />
    <input id="command_text" type='text' style='width: 250px;' /><input id="submit_command" type='submit' value='<-' />
</div>

<div style="border: 1px solid #000000; width: 500px; height: 500px; float: left; margin-left: 50px;">
    <h2 id="room_title"></h2>
    <p id="room_desc"></p>
    
    <div id="room_players"></div>
    <div id="room_mobs"></div>
</div>

<div style="clear: both;"></div>

<script type='text/javascript'>
$(document).ready(function(){
    document.map = [];
    load_map();
    
    //process_command = function() {
    //    send_command('north');
    //    $("#command_text").val('');
    //}
    
    test_command = function() {
        
    }
    
    $("#submit_command").click(function () {
        process_command($("#command_text").val());
        $("#command_text").val('');
        
    });
    
    $("#command_text").keypress(function (e) {
        if (e.which == 13) {
            process_command($(this).val())
            $(this).val('');
        }
    });
    
    
    document.player = null;
    get_player();

    //setInterval("reload();", 2000);

    var script = $.ajax({url: "/static/js/rendermap.pjs", async: false}).responseText;
    var canvas = $('canvas#map').get(0);
    Processing(canvas, script);

    //debugger;

});
</script>

{% comment %}
void keyPressed() {
    var move = 'no'
    if (keyCode == RIGHT) { move = 'east'; }
    if (keyCode == LEFT) { move = 'west'; }
    if (keyCode == UP) { move = 'north'; }
    if (keyCode == DOWN) { move = 'south'; }

    if (move != 'no') {
        $.ajax({
            type: "PUT",
            url: "/api/players/1.json",
            data: { move: move },
            dataType: "json",
            success: function(data) {
                player = data;
                render_room(player.room);
            }
        });
    }  
}
{% endcomment %}

</body>
</html>