<html>
<head>

<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>

<script type="text/javascript" src="/static/js/data.js"></script>
<script type="text/javascript" src="/static/js/commands.js"></script>
<script type="text/javascript" src="/static/js/pages.js"></script>

<script language="javascript" src="/static/js/lib/processing.js"></script>
<!--script language="javascript" src="/static/js/lib/init.js"></script-->

</head>
<body>
    
    <h1>Stark</h1>

<div id="left_pane">
    <canvas id="map" width="300px" height="300px"></canvas>
    <div id="input_feedback" style="display: none">Test error message</div>
    <div id="input_bar">
        <input id="command_text" type='text' /><input id="submit_command" type='submit' value='<-' />
    </div>
</div>

<div id="right_pane">
    
    <div id="room_box" class='page'>
        <h2 id="room_title"></h2>
        <p id="room_desc"></p>
        <div id="room_players"></div>
        <div id="room_mobs"></div>
    </div>

    Builder:
    <div id="builder_box" class='page'>
        <p>title: <input type='text' id="builder_room_title" /></p>
        <p>description:</p>
        
        <textarea id="builder_room_description"></textarea>
        
        <p><input type='checkbox' id="builder_room_north" /> north</p>
        <p><input type='checkbox' id="builder_room_east" /> east</p>
        <p><input type='checkbox' id="builder_room_south" /> south</p>
        <p><input type='checkbox' id="builder_room_west" /> west</p>
        
        
        
    </div>
    
    Profile:
    <div id="profile_box" class='page'>
        <h2 id="player_name"></h2>      
    </div>
        
</div>

<div style="clear: both;"></div>

<script type='text/javascript'>
$(document).ready(function(){
    // initial data
    document.map = [];
    document.player = null;
    
    get_map();
    get_player();
    setup_commands();

    // Initial load, replace with setInterval eventually
    $.getJSON("/api/players/me.json", function(player) {
        // render the pages
        render_room();
        render_profile();
    });
    //setInterval("reload();", 2000);

    // processing
    var script = $.ajax({url: "/static/js/rendermap.pjs", async: false}).responseText;
    var canvas = $('canvas#map').get(0);
    Processing(canvas, script);
});

</script>

</body>
</html>