<html>
<head>

<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>

<script type="text/javascript" src="/static/js/data.js"></script>
<script type="text/javascript" src="/static/js/commands.js"></script>
<script type="text/javascript" src="/static/js/pages.js"></script>

<script language="javascript" src="/static/js/lib/processing.js"></script>
<!--script language="javascript" src="/static/js/lib/init.js"></script-->

</head>
<body>

<div id="left_pane">
    <div id="input_bar">
        <input id="command_text" type='text' /><input id="submit_command" type='submit' value='Enter' />
    </div>

    <canvas id="map" width="300px" height="300px"></canvas>
    <div id="input_feedback" style="display: none">Test error message</div>
</div>

<div id="right_pane">
    
    <div id="profile_box" class='page'>
        <b id="player_name"></b>, level <span id="player_level"></span>
    </div>    
    
    <div id="room_box" class='page'>
        <h2 id="room_title"></h2>
        <p id="room_desc"></p>
        <div id="room_players"></div>
        <div id="room_mobs"></div>
    </div>

    <div id="builder_box" class='page' style='display: none;'>
        <p>coords <span id="builder_x"></span>, <span id="builder_y"></span></p>
        
        <p>title: <input type='text' id="builder_room_title" /></p>
        <p>description:</p>
        
        <textarea id="builder_room_description"></textarea>
        
        <p><input type='checkbox' id="builder_north" /> north</p>
        <p><input type='checkbox' id="builder_east" /> east</p>
        <p><input type='checkbox' id="builder_south" /> south</p>
        <p><input type='checkbox' id="builder_west" /> west</p>
        
        <p>
            x: <input type='text' id="jump_x" style='width: 30px;' />
            y: <input type='text' id="jump_y" style='width: 30px;' />
            <input type='submit' id='jump_to' value='Jump To' />
        </p>
        
        <p><input type='submit' id='delete_room' value='Delete Room'/></p>
        
    </div>
        
</div>

<div style="clear: both;"></div>

<script type='text/javascript'>
$(document).ready(function(){
    // initial data
    document.map = [];
    document.player = null;
    
    get_map();
    //get_player();
    setup_commands();
    setup_builder();

    // Initial load, replace with setInterval eventually
    $.getJSON("/api/players/me.json", function(player) {
        document.player = player;
        // render the pages
        render_room();
        render_profile();
    });
    //setInterval("reload();", 2000);

    // processing
    var script = $.ajax({url: "/static/js/rendermap.pjs", async: false}).responseText;
    var canvas = $('canvas#map').get(0);
    Processing(canvas, script);
});

</script>

</body>
</html>