<html>
<head>
  <script language="javascript" src="/static/js/lib/processing.js"></script>
  <script language="javascript" src="/static/js/lib/init.js"></script>
  <script language="javascript" src="/static/js/test.js"></script>
</head>
<body>

<script type="application/processing">

//var base_x = 100;
//var base_y = 100;

//void setup() 
//{
//    size(300, 300);
//    stroke(0);
//    frameRate(25);
//}
void draw() 
{
  background(255);
  rect(20, 20, 10, 10);
}

</script>

<canvas width="300" height="300" style="border: 1px solid #000000"></canvas>

</body>
</html>